---
import '../styles/global.css'
import Hero from '../components/Hero.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
import Footer from '../components/Footer.astro'
import Section from '../components/Section.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Jaime Pineda's Portfolio - Web Developer</title>
  </head>
  <body class="bg-black text-white">
    <main>
      <section>
        <Hero />
      </section>
      <Section title="Experience" class="container mx-auto max-w-5xl p-4">
        <Experience />
      </Section>
      <Section title="Projects" class="container mx-auto max-w-5xl p-4">
        <Projects />
      </Section>
    </main>
    <Footer class="mx-auto max-w-5xl px-4 py-8" />
  </body>
</html>
