---
import '../styles/global.css'
import Hero from '../components/Hero.tsx'
import Experience from '../components/Experience.astro'
import TitleSection from '../components/TitleSection.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Jaime Pineda's Portfolio - Web Developer</title>
  </head>
  <body>
    <main class="min-h-dvh bg-black text-white">
      <section>
        <Hero client:load />
      </section>
      <section class="container mx-auto px-4">
        <TitleSection> Experience </TitleSection>
        <p class="mb-8 text-gray-600 dark:text-gray-300">
          <Experience />
        </p>
      </section>
    </main>
  </body>
</html>
