---
import '../styles/global.css'
import Hero from '../components/Hero.tsx'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Jaime Pineda's Portfolio - Web Developer</title>
  </head>
  <body>
    <main class="min-h-dvh bg-black text-white">
      <Hero client:load />
    </main>
  </body>
</html>
